.form-group {
    margin-bottom: 15px;
}

#branch-button {
    padding-left: 5vh;
    width: 18vh;

}
#branch-label{
    padding-right: 1.5vh;
}

#checkout-button {
    width: 18vh;
}

#checkout-wrapper{
    padding-top: 4vh;
}

#buttons{
    padding-left: 13vh;
    padding-top: 11vh;
}