<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <listener>
        <listener-class>
            user.listener.ContextDestroyedListener
        </listener-class>
    </listener>
<!--<servlet>-->
<!--    <servlet-name>MAGitServlet</servlet-name>-->
<!--    <servlet-class>user.servlets.MAGitServlet</servlet-class>-->
<!--</servlet>-->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>user.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>user.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectedUsersListServlet</servlet-name>
        <servlet-class>user.servlets.ConnectedUsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>user.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsersServlet</servlet-name>
        <servlet-class>user.servlets.AllUsersServlet</servlet-class>
    </servlet>

<!--<servlet-mapping>-->
<!--    <servlet-name>MAGitServlet</servlet-name>-->
<!--    <url-pattern>/app</url-pattern>-->
<!--</servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectedUsersListServlet</servlet-name>
        <url-pattern>/connectedUsersListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsersServlet</servlet-name>
        <url-pattern>/allusers</url-pattern>
    </servlet-mapping>
</web-app>